@font-face {
  font-family: "iconfont"; /* Project id 1794392 */
  src: url('iconfont.woff2?t=1734164871299') format('woff2'),
       url('iconfont.woff?t=1734164871299') format('woff'),
       url('iconfont.ttf?t=1734164871299') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e616";
}

.icon-eld:before {
  content: "\e612";
}

.icon-biandao:before {
  content: "\e68e";
}

.icon-fanche:before {
  content: "\e606";
}

.icon-jijiasu:before {
  content: "\e631";
}

.icon-jijiansu:before {
  content: "\e633";
}

.icon-collision:before {
  content: "\e60f";
}

.icon-slippery:before {
  content: "\e63e";
}

.icon-zuojizhuanwan:before {
  content: "\e63f";
}

.icon-youjizhuanwan:before {
  content: "\e657";
}

.icon-yuyuebaoyang:before {
  content: "\e632";
}

.icon-drag:before {
  content: "\e651";
}

.icon-navigate:before {
  content: "\e603";
}

.icon-fleet:before {
  content: "\e643";
}

.icon-image:before {
  content: "\e63b";
}

.icon-video:before {
  content: "\e61f";
}

.icon-tab:before {
  content: "\e6f2";
}

.icon-abreast:before {
  content: "\e6e1";
}

.icon-camera:before {
  content: "\e610";
}

.icon-moving:before {
  content: "\e641";
}

.icon-park2:before {
  content: "\e6fa";
}

.icon-idling2:before {
  content: "\e770";
}

.icon-engineOff:before {
  content: "\e600";
}

.icon-engineOn:before {
  content: "\e7f0";
}

.icon-rollback:before {
  content: "\e602";
}

.icon-noresp:before {
  content: "\e630";
}

.icon-resend:before {
  content: "\e720";
}

.icon-content:before {
  content: "\e61e";
}

.icon-success:before {
  content: "\e65f";
}

.icon-setAlert:before {
  content: "\e6b3";
}

.icon-datapack:before {
  content: "\e73d";
}

.icon-trips:before {
  content: "\e802";
}

.icon-replay:before {
  content: "\e611";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-bofang1:before {
  content: "\e662";
}

.icon-licheng:before {
  content: "\e89b";
}

.icon-clock:before {
  content: "\e646";
}

.icon-addr:before {
  content: "\e60e";
}

.icon-uninstall:before {
  content: "\e698";
}

.icon-enter:before {
  content: "\e615";
}

.icon-exit:before {
  content: "\e77b";
}

.icon-overspeed:before {
  content: "\e61d";
}

.icon-vibration:before {
  content: "\e677";
}

.icon-params:before {
  content: "\e634";
}

.icon-sos:before {
  content: "\e685";
}

.icon-low-power:before {
  content: "\e7a7";
}

.icon-offline:before {
  content: "\e645";
}

.icon-displacement:before {
  content: "\e604";
}

.icon-nopower:before {
  content: "\e605";
}

.icon-command:before {
  content: "\e7b9";
}

.icon-logout:before {
  content: "\e66c";
}

.icon-alert2:before {
  content: "\e72a";
}

.icon-msg:before {
  content: "\e8c0";
}

.icon-report:before {
  content: "\e7ca";
}

.icon-geofence:before {
  content: "\e661";
}

.icon-device:before {
  content: "\e65e";
}

.icon-monitor:before {
  content: "\e778";
}

.icon-profile:before {
  content: "\e62c";
}

.icon-setting:before {
  content: "\e8b7";
}

.icon-account:before {
  content: "\e601";
}

.icon-dashboard:before {
  content: "\e93c";
}

.icon-help:before {
  content: "\e68c";
}

.icon-credit:before {
  content: "\e668";
}

.icon-income:before {
  content: "\e637";
}

.icon-outcome:before {
  content: "\e638";
}

.icon-coloseall:before {
  content: "\e61c";
}

.icon-refresh:before {
  content: "\e769";
}

.icon-closeother:before {
  content: "\e62a";
}

.icon-collapse:before {
  content: "\e622";
}

.icon-expand:before {
  content: "\e624";
}

.icon-alert:before {
  content: "\e60d";
}

.icon-recharge:before {
  content: "\e614";
}

.icon-tips:before {
  content: "\e64e";
}

.icon-weight:before {
  content: "\e613";
}

.icon-humidity:before {
  content: "\e60b";
}

.icon-temp1:before {
  content: "\e66b";
}

.icon-fangda-quanping-05:before {
  content: "\e81f";
}

.icon-suoxiao-xiaoping-05:before {
  content: "\e84f";
}

.icon-weixing:before {
  content: "\e6ad";
}

.icon-xinhao:before {
  content: "\e60a";
}

.icon-zuoyelicheng:before {
  content: "\e642";
}

.icon-dianya:before {
  content: "\e665";
}

.icon-street:before {
  content: "\e8e5";
}

.icon-chizi_o:before {
  content: "\eb48";
}

.icon-detail:before {
  content: "\e91c";
}

.icon-commandzhiling:before {
  content: "\e6da";
}

.icon-five-shape:before {
  content: "\e63c";
}

.icon-circle:before {
  content: "\e64f";
}

.icon-tx-fill-zhengfangxing:before {
  content: "\e64b";
}

.icon-cha:before {
  content: "\e61a";
}

.icon-bofang:before {
  content: "\e63d";
}

.icon-zanting:before {
  content: "\e619";
}

.icon-kuaitui:before {
  content: "\e7f3";
}

.icon-kuaijin:before {
  content: "\e7f4";
}

.icon-playback:before {
  content: "\e61b";
}

.icon-tracking:before {
  content: "\e68f";
}

.icon-dianchibattery142:before {
  content: "\e781";
}

.icon-dianping:before {
  content: "\e625";
}

.icon-fadongji:before {
  content: "\e640";
}

